if ARCH_SYNAPTICS

config SYS_SOC
	default "synaptics"

config SYS_VENDOR
	default "synaptics"

choice
	prompt "Synaptics board select"

config TARGET_DOLPHIN
	bool "Synaptics Dolphin SoC"
	select ARM64
	help
	  The Synaptics Dolphin is a ARM64-based SoC with a quad-core Cortex-A73.
	  including UART, SPI, USB2.0 and OTG, NAND, EMMC, USB Ethernet, etc.

config TARGET_PLATYPUS
	bool "Synaptics Platypus SoC"
	select ARM64
	help
	  The Synaptics AS640 is a ARM64-based SoC with a quad-core Cortex-A55.
	  including UART, SPI, USB2.0 and OTG, EMMC, etc.

config TARGET_MYNA2
	bool "Synaptics Myna2 SoC"
	select ARM64
	help
	  The Synaptics Myna2 is a ARM64-based SoC with a quad-core Cortex-A55.
	  including UART, SPI, USB2.0 and OTG, EMMC, etc.
endchoice

source "arch/arm/mach-synaptics/drivers/Kconfig"
source "arch/arm/mach-synaptics/cmd/Kconfig"

source "board/synaptics/myna2/Kconfig"
source "board/synaptics/platypus/Kconfig"
source "board/synaptics/dolphin/Kconfig"

menu "Synaptics Specific Setup"

choice
	prompt "Select fastboot/spi-uboot/usb-uboot"
config SYNA_USB_UBOOT
	bool "Synaptics USB U-Boot support"
	help
	  Enable boot from USB tool including download, burn image through USB

config SYNA_SPI_UBOOT
	bool "synaptics SPI U-Boot support"
	help
	  Support Synaptics fastboot

config SYNA_SUBOOT
	bool "synaptics SUBOOT support"
	help
	  Support Synaptics SUBOOT solution

endchoice
endmenu
endif
