// SPDX-License-Identifier: GPL-2.0+
/*
 * Copyright (C) 2016~2023 Synaptics Incorporated. All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 or
 * later as published by the Free Software Foundation.
 *
 * INFORMATION CONTAINED IN THIS DOCUMENT IS PROVIDED "AS-IS," AND
 * SYNAPTICS EXPRESSLY DISCLAIMS ALL EXPRESS AND IMPLIED WARRANTIES,
 * INCLUDING ANY IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR
 * A PARTICULAR PURPOSE, AND ANY WARRANTIES OF NON-INFRINGEMENT OF ANY
 * INTELLECTUAL PROPERTY RIGHTS. IN NO EVENT SHALL SYNAPTICS BE LIABLE
 * FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, PUNITIVE, OR
 * CONSEQUENTIAL DAMAGES ARISING OUT OF OR IN CONNECTION WITH THE USE
 * OF THE INFORMATION CONTAINED IN THIS DOCUMENT, HOWEVER CAUSED AND
 * BASED ON ANY THEORY OF LIABILITY, WHETHER IN AN ACTION OF CONTRACT,
 * NEGLIGENCE OR OTHER TORTIOUS ACTION, AND EVEN IF SYNAPTICS WAS
 * ADVISED OF THE POSSIBILITY OF SUCH DAMAGE. IF A TRIBUNAL OF
 * COMPETENT JURISDICTION DOES NOT PERMIT THE DISCLAIMER OF DIRECT
 * DAMAGES OR ANY OTHER DAMAGES, SYNAPTICS' TOTAL CUMULATIVE LIABILITY
 * TO ANY PARTY SHALL NOT EXCEED ONE HUNDRED U.S. DOLLARS.
 */

/dts-v1/;

#include "dolphin.dtsi"
#include "include/dt-bindings/gpio/gpio.h"

/ {
	model = "Synaptics Dolphin RDK";
	compatible = "Synaptics,dolphin", "Synaptics,asserial";

	memory {
		device_type = "memory";
		reg = <0 0 0 0x80000000>;
	};

	chosen {
		stdout-path = &smuart0;
	};

	regulators {
		compatible = "simple-bus";
		#address-cells = <1>;
		#size-cells = <0>;

		sdio_vmmc: sdio_vmmc {
			pinctrl-0 = <&sdio_vmmc_pmux>;
			pinctrl-names = "default";
			compatible = "regulator-fixed";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			regulator-name = "vmmc_sdio";
			enable-active-high;
			gpio = <&portb 12 GPIO_ACTIVE_HIGH>;
		};
	};
};

&sysmgr_pinctrl {
	sm_i2c_tw3_pmux: sm_i2c_tw3_pmux {
		groups = "SM_TW3_SCL", "SM_TW3_SDA";
		function = "tw3";
	};

	gmac_reset_pmux: gmac_reset_pmux {
		groups = "SM_TDO";
		function = "gpio";
	};
};

&pinctrl {
	emmc_pmux: emmc-pmux {
		groups = "NAND_IO0", "NAND_IO1", "NAND_IO2", "NAND_IO3", "NAND_IO4", "NAND_IO5", "ND_IO6", "NAND_IO7", "NAND_ALE", "NAND_CLE", "NAND_WPn";
		function = "emmc";
	};

	sdio_pmux: sdio_pmux{
		groups = "SDIO_CDn";
		function = "sdio";
	};

	sdio_vmmc_pmux: sdio_vmmc_pmux{
		groups = "SDIO_WP";
		function = "gpio";
	};
};

&CPU_SLEEP_0 {
	status = "disabled";
};

&smuart0 {
	status = "okay";
};

&spi0 {
	status = "okay";
	max-write-size = <128>;
	clock-frequency = <100000000>;
	spi-flash@0 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "jedec,spi-nor";
		reg = <0>;
		memory-map = <0x0 0xf0000000 0x0 0x4000000>;
		spi-max-frequency = <10000000>;
	};
};

&phy0 {
	reg = <0>;
};

&i2c3 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&sm_i2c_tw3_pmux>;
	expander0: gpio@43 {
		compatible = "fcs,fxl6408";
		reg = <0x43>;
		gpio-controller;
		#gpio-cells = <2>;
	};
};

&gmac0 {
	status = "okay";
	max-speed = <1000>;
	phy-mode = "rgmii-id";
	phy-handle = <&phy0>;
	phy = <&phy0>;
	pinctrl-names = "default";
	pinctrl-0 = <&gmac_reset_pmux>;
	snps,reset-gpio = <&portd 8 GPIO_ACTIVE_HIGH>;
	snps,reset-active-high;
	snps,reset-delays-us = <0 10000 50000>;
};

&sdhci0 {
	status = "okay";
	mmc-ddr-1_8v;
	mmc-hs200-1_8v;
	mmc-hs400-1_8v;
	fixed-voltage;
	sdclkdl-dc = <26>;
};

&sdhci1 {
	status="okay";
	pinctrl-0 = <&sdio_pmux>;
	pinctrl-names = "default";
	cap-sd-highspeed;
	sd-uhs-sdr12;
	sd-uhs-sdr25;
	sd-uhs-sdr50;
	sd-uhs-sdr104;
	sdclkdl-dc = <75>;
	vmmc-supply = <&sdio_vmmc>;
};

&usb_phy0 {
	status = "okay";
};

&usb0 {
	status = "okay";
};

&usb_phy1 {
	status = "okay";
};

&xhci0 {
	status = "okay";
};
